[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-shell-ipython = "*"
httpie = "*"
flask-debugtoolbar = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mako = "*"
cropresize2 = "*"
pillow = "*"
short-url = "*"

[requires]
python_version = "3.6"
